@page
@model Otthonbazar.Pages.Advertisements.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Advertisement</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form class="form-horizontal" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Advertisement.Address" class="control-label"></label>
                <input asp-for="Advertisement.Address" class="form-control" />
                <span asp-validation-for="Advertisement.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Advertisement.BuildDate" class="control-label"></label>
                <input asp-for="Advertisement.BuildDate" class="form-control" />
                <span asp-validation-for="Advertisement.BuildDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Város irányítószám</label>
                <input asp-for="Advertisement.City.Zip" id="City_Zip" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Város neve</label>
                <input asp-for="Advertisement.City.Name" id="City_Name" class="form-control" readonly/>
            </div>
            <div class="form-group">
                <label asp-for="Advertisement.Description" class="control-label"></label>
                <textarea rows="4" cols="50" asp-for="Advertisement.Description" class="form-control"> </textarea>
                <span asp-validation-for="Advertisement.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Advertisement.HalfRoom" class="control-label"></label>
                <input asp-for="Advertisement.HalfRoom" class="form-control" />
                <span asp-validation-for="Advertisement.HalfRoom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Advertisement.ImageUrl" class="control-label"></label>
                <input asp-for="Advertisement.ImageUrl" class="form-control" />
                <span asp-validation-for="Advertisement.ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Advertisement.Price" class="control-label"></label>
                <input asp-for="Advertisement.Price" class="form-control" />
                <span asp-validation-for="Advertisement.Price" class="text-danger"></span>
                <span class="input-group-addon">M Ft</span>
            </div>
            <div class="form-group">
                <label asp-for="Advertisement.Room" class="control-label"></label>
                <input asp-for="Advertisement.Room" class="form-control" />
                <span asp-validation-for="Advertisement.Room" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Advertisement.Size" class="control-label"></label>
                <input asp-for="Advertisement.Size" class="form-control" />
                <span asp-validation-for="Advertisement.Size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Advertisement.AdvertisementType" class="control-label"></label>
                <select asp-for="Advertisement.AdvertisementType" class="form-control" asp-items="Html.GetEnumSelectList<Otthonbazar.Data.AdvertisementType>()"></select>
                <span asp-validation-for="Advertisement.AdvertisementType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            $("#City_Zip").on("blur", function (event, b) {
                // Ha nincs megadva irányítószám, akkor nem hívjuk meg az ajaxot.
                if ($("#City_Zip").val() === "")
                    return;
                //Ezzel hívjuk meg a OnGetIranyitoszam(int iranyitoszam) metodust (itt küld az ajax egy get hívást)
                $.get("/Advertisements/Create?handler=Iranyitoszam&iranyitoszam=" + event.currentTarget.value).then(function
                    (data) {
                    $("#City_Name").val(data.name);
                });
            })
        });
    </script>
}
